@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&family=Work+Sans:wght@700&display=swap');
/* font-family: 'Noto Sans KR', sans-serif;
font-family: 'Work Sans', sans-serif; */

body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #f5f5f5;
}
/* body>img {
    position:fixed;
    width:100%;
    height:100%;
    left: 0px;
    top: 0px;
    right:0px;
    bottom:0px;
    z-index: -1;
    opacity:100%;
} */
.hidden {
  display: none;
}
.complete {
  text-decoration: line-through;
}
header {
  width: 100%;
  color: #fff;
  background-color: #74b9ff;
  box-shadow: 0px 4px 10px 0px rgba(180, 180, 180, 0.5);
}
header .inner {
  max-width: 1280px;
  height: 90px;
  width: 100%;
  margin: auto;
  line-height: 90px;
  text-align: center;
  font-size: 30px;
}
header .inner .header-logo {
  font-weight: 700;
}
main {
  width: 100%;
  padding: 30px 0;
}
main .inner {
  max-width: 1280px;
  margin: auto;
  width: 100%;
  display: flex;

  justify-content: space-around;
}
main .inner .main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}
.main-container #login-form input,
.main-container #todo-form input {
  border: none;
  font-size: 17px;
  text-align: center;
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  color: #777;
  font-weight: 500;
  background-color: #fff;
  box-shadow: 2px 2px 5px 0px rgba(180, 180, 180, 0.5);
}
.main-container #login-form .submit-btn {
  background-color: #fff;
  color: #74b9ff;
  border: 1px solid #74b9ff;
}
.main-container #login-form .submit-btn:hover {
  background-color: #74b9ff;
  color: #fff;
  transition: all 0.3s;
}
.main-container #login-form input::placeholder,
.main-container #todo-form input::placeholder {
  color: #777;
}
.main-container #todo-form input {
  width: 800px;
}
.main-container .todo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-container .todo .todo-list-box {
  margin-top: 20px;
  padding: 30px;
  width: 900px;
  font-size: 16px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 2px 2px 5px 0px rgba(180, 180, 180, 0.5);
  background-color: #fff;
}
.main-container .todo #greeting {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 500;
  color: #2d3436;
  font-size: 16px;
}
.main-container #todo-list li {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  color: #2d3436;
  font-weight: 500;
}
.main-container #todo-list li span {
  width: 90%;
}
.right-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.right-content .right-top,
.right-content #weather,
.right-content #quote {
  width: 250px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  background-color: #74b9ff;
  box-shadow: 2px 2px 5px 0px rgba(120, 120, 120, 0.5);
  text-align: center;
  color: #fff;
  font-weight: 700;
  margin-bottom: 20px;
}
.right-content .right-top {
  font-family: 'Work Sans', sans-serif;
  font-size: 40px;
}
.right-content #weather {
  font-size: 22px;
  line-height: 1.7;
}
.right-content #weather span {
  display: block;
  margin-bottom: 5px;
}
.right-content #quote {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
}
.logoutBtn {
  display: block;
  font-size: 14px;
  margin: 100px auto 0;
  border: 1px solid #74b9ff;
  padding: 10px 15px;
  border-radius: 5px;
  outline: none;
  color: #74b9ff;
  font-weight: 500;
}
.logoutBtn:hover {
  background-color: #74b9ff;
  color: #fff;
  transition: all 0.3s;
}

/* @media screen and (max-width: 1000px) {
  .main-container .todo #todo-list {
    width: 80vw;
    margin-top: 30px;
  }
  .main-container #todo-form input {
    width: 70vw;
  }
}
@media screen and (max-width: 700px) {
  .main-container .todo #todo-list {
    padding: 20px;
  }
}
@media screen and (max-width: 600px) {
  #quote {
    width: 50vw;
  }
} */
